* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007acc;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #ccc;
}

p {
  font-size: 18px;
}

ul > li{
  margin-bottom: 12px;
}

.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.download{
  display: inline-flex;
}

.download p{
  margin-right: 10px;
}

.download img{
  width: 200px;
  border-radius: 5px;
}

.cta-button {
  display: inline-block;
  background-color: #007acc;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #005eaa;
}

.mobile-mockup {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.mobile-mockup img{
  width: 250px;
  border-radius: 33px;
}

footer{
  color: #fff;
  background-color: #007acc;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.footer-links a{
  color: #ccc;
  margin-right: 10px;
}